.comment {
	border-top: 1px solid grey;
	padding: 3px 0;

	.rightBox {
		padding: 6px 3px 3px 6px;
	}

	.text {
		font-size: 13px;
		word-break: break-all;
		padding: 6px 3px 3px 1px;
	}

	.date {
		justify-content: flex-end;
		font-size: 11px;
	}
	flex: 0 0 auto;
}

.comments {
	flex: 0 0 auto;

	.title {
		font-weight: 500;
		font-size: 14px;
	}
}
