

.userWrapper{

	&.mini{
		margin-left: -2px;
		padding: 0px;
	}

	.hiddenMiniUsersCount{
		color: #f8f8f8;
		font-size: 12px;
		margin: 2px;
		border-radius: 13px;
		width: 22px;
		padding: 2px 1px 0 0;
		justify-content: center;
		height: 22px;
		align-items: center;
		margin-left: 4px;
		background-color: #b6b6b6;
		flex: 0 0 auto;
	}
}
